# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @vimalk78 @vprashar2929 @KaiyiLiu1234 @sthaha @jiangphcn @bradmccoydev @SamYuan1990 @sunya-ch @nikimanoledaki @yellowhat @laurall974 
